/* Navbar.css */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: #007bff;
  color: #fff;
  z-index: 100;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 0px;
}

.navbar-logo {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

.navbar-links li a:hover {
  text-decoration: underline;
}

.cart-logo {
  font-size: 24px;
  cursor: pointer;
}
