/* ProductPage.css */

.product-page {
    padding: 50px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .product-item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .product-item img {
    max-width: 60%;
    height: auto;
  }
  
  .product-item h3 {
    margin-top: 10px;
  }
  
  .product-item p {
    font-weight: bold;
    color: #007bff;
    margin: 10px 0;
  }
  
  .product-item button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 2px 2px;
    cursor: pointer;
  }
  
  .product-item button:hover {
    background-color: #0056b3;
  }
  